<nb-card-body>
  <admin-traffic-bar-chart [data]="trafficBarData.data"
                         [labels]="trafficBarData.labels"
                         [formatter]="trafficBarData.formatter">
  </admin-traffic-bar-chart>
</nb-card-body>
