<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <admin-spinner-sizes></admin-spinner-sizes>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <admin-spinner-color></admin-spinner-color>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <admin-spinner-in-buttons></admin-spinner-in-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <admin-spinner-in-tabs></admin-spinner-in-tabs>
  </div>
</div>
