<nb-card>
  <nb-card-header>Google Maps with search</nb-card-header>
  <nb-card-body>
    <admin-search (positionChanged)="updateLocation($event)"></admin-search>
    <admin-map [searchedLocation]="searchedLocation"></admin-map>
  </nb-card-body>
</nb-card>
