<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Orders">
      <div class="chart-container">
        <admin-chart-panel-summary [summary]="chartPanelSummary"></admin-chart-panel-summary>
        <admin-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </admin-chart-panel-header>
        <admin-orders-chart #ordersChart [ordersChartData]="ordersChartData"></admin-orders-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <admin-chart-panel-summary [summary]="chartPanelSummary"></admin-chart-panel-summary>
        <admin-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </admin-chart-panel-header>
        <admin-profit-chart #profitChart [profitChartData]="profitChartData"></admin-profit-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
