<nb-card-header>
  Earnings
</nb-card-header>
<nb-card-body>
  <div class="chart-info">
    <div [style.color]="color">{{ name }}</div>
    <div class="time-period caption">Last week:</div>
    <div class="h6">{{ value }}%</div>
  </div>
  <admin-earning-pie-chart [values]="earningPieChartData"
                         (selectPie)="changeChartInfo($event)"
                         [defaultSelectedCurrency]="defaultSelectedCurrency">
  </admin-earning-pie-chart>
</nb-card-body>
