<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <admin-profit-card></admin-profit-card>
      </div>
      <div class="col-md-6">
        <admin-earning-card></admin-earning-card>
      </div>
    </div>

    <admin-traffic-reveal-card></admin-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <admin-ecommerce-charts></admin-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <admin-country-orders></admin-country-orders>
  </div>

  <div class="col-xxl-3">
    <admin-progress-section></admin-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <admin-ecommerce-visitors-analytics></admin-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <admin-user-activity></admin-user-activity>
  </div>
</div>
