<nb-card size="medium">
  <nb-card-header>
    <h3>Visitors Analytics</h3>
    <div class="subtitle">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <admin-legend-chart [legendItems]="chartLegend"></admin-legend-chart>
      </div>
      <admin-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></admin-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <admin-slide-out [showVisitorsStatistics]="true">
    <admin-visitors-statistics [value]="pieChartValue"></admin-visitors-statistics>
  </admin-slide-out>
</nb-card>
