<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <admin-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </admin-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <admin-temperature></admin-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <admin-electricity></admin-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <admin-rooms></admin-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <admin-contacts></admin-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <admin-solar [chartValue]="solarValue"></admin-solar>

    <admin-kitten></admin-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <admin-traffic></admin-traffic>
    <admin-weather></admin-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <admin-security-cameras></admin-security-cameras>
  </div>
</div>
